.user-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form {
    margin-top: 200px; /* Increased margin-top to move the form down */
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
}

.user-form label {
    display: block;
    margin-bottom: 5px;
}

.user-form input,
.user-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-actions button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-actions button:hover {
    opacity: 0.9;
}
