/* General Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: white;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
  color: #ffde59;
  transform: scale(1.1);
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* Side Menu Styles */
.side-menu {
  position: absolute;
  top: 15px; /* Aligns with the hamburger button */
  right: 15px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  display: none; /* Hidden by default */
}

.side-menu.open {
  display: flex; /* Show menu when open */
}

.side-menu a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.profile-container {
  position: relative;
}

.profile-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%; /* This makes the icon circular */
  object-fit: fill; /* Ensures that the image fits the circle without distortion */
  border: 1px solid black; /* Add a slight border for better visual effect */
}

.side-menu a:hover {
  color: #ffde59;
}

/* Overlay for Side Menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
}

.overlay.show {
  display: block; /* Show overlay when menu is open */
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    padding: 22px;
  }

  .hamburger {
    display: flex;
  }
}
